.column{width:7px;height:100%;background:#cccccc;display:inline-block;margin:0 1px;}
.column:hover{background:#f30;}
.active{background:#888888}
.focus{background:#ffcccc;}
.highlight{background:#ff6666}
		