.column{width:5px;height:100%;background:#d7d7d7;display:inline-block;margin:0 1px;}
.column:hover{background:#f30;}
.active{background:#4abae0}
.focus{background:#ef9c94;}
.highlight{background:#da3939}
		